    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="title-section delay-5" data-anim-reveal="slide-up">{{post.meta('step_titre_section')}}</h2>
            </div>
            <div class="col-md-4 px-0">
                <div class="item-step delay-7" data-anim-reveal="slide-up">
                    <div class="wrap-dot">
                        <div class="dot">
                            <div class="number">1</div>
                        </div>
                    </div>
                    <div class="step-content delay-8" data-anim-reveal="slide-up">
                        <h4>{{post.meta('step_titre_1')}}</h4>
                        <p>{{post.meta('step_description_1')}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-0">
                <div class="item-step delay-8" data-anim-reveal="slide-up">
                    <div class="step-line"></div>
                    <div class="wrap-dot">
                        <div class="dot">
                            <div class="number">2</div>
                        </div>
                    </div>
                    <div class="step-content delay-9" data-anim-reveal="slide-up">
                        <h4>{{post.meta('step_titre_2')}}</h4>
                        <p>{{post.meta('step_description_2')}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-0">
                <div class="item-step delay-9" data-anim-reveal="slide-up">
                    <div class="step-line"></div>
                    <div class="wrap-dot">
                        <div class="dot">
                            <div class="number">3</div>
                        </div>
                    </div>
                    <div class="step-content delay-10" data-anim-reveal="slide-up">
                        <h4>{{post.meta('step_titre_3')}}</h4>
                        <p>{{post.meta('step_description_3')}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>