<div class="container">
    <div class="row">   
        <div class="col-md-12 text-center">
        <div class="title-section">
            <h2 class="bold delay-6 mb-3" data-anim-reveal="slide-up">{{ post.meta('section_genres_titre') }}</h2>
            <h3 class="lighter delay-7" data-anim-reveal="slide-up">{{ post.meta('section_genres_description') }}</p>
        </div>
        </div>
        {% for post_genres in posts_genres %}
        <div class="col-md-6 col-lg-3">
            <div class="item-genre delay-8" data-anim-reveal="img-right bg-white shadow">
                <div class="genre-icon icon-emp">
                    <i class="icon-{{ post_genres.genre_icon }}"></i>
                </div>
                <div class="genre-content">
                    <h4>{{ post_genres.title }}</h4>
                    <p>{{ post_genres.genre_description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {# <div class="col-md-3">
            <div class="item-genre">
                <div class="genre-icon icon-music">
                    <i class="icon-music-cd1"></i>
                </div>
                <div class="genre-content">
                    <h3>title</h3>
                    <p>description</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item-genre">
                <div class="genre-icon icon-music">
                    <i class="icon-music-record-player"></i>
                </div>
                <div class="genre-content">
                    <h3>title</h3>
                    <p>description</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item-genre">
                <div class="genre-icon icon-music">
                    <i class="icon-music-speaker"></i>
                </div>
                <div class="genre-content">
                    <h3>title</h3>
                    <p>description</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item-genre">
                <div class="genre-icon icon-music">
                    <i class="icon-music-levels"></i>
                </div>
                <div class="genre-content">
                    <h3>title</h3>
                    <p>description</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item-genre">
                <div class="genre-icon icon-music">
                    <i class="icon-music-piano1"></i>
                </div>
                <div class="genre-content">
                    <h3>title</h3>
                    <p>description</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item-genre">
                <div class="genre-icon icon-music">
                    <i class="icon-music-drums1"></i>
                </div>
                <div class="genre-content">
                    <h3>title</h3>
                    <p>description</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="item-genre">
                <div class="genre-icon icon-music">
                    <i class="icon-music-saxophone"></i>
                </div>
                <div class="genre-content">
                    <h3>title</h3>
                    <p>description</p>
                </div>
            </div>
        </div> #}
    </div>
</div>